* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    line-height: 1.5;
}
header{
    padding: 30px 20px;
    background: #9f81f7;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1111;
}

img {
    width: 9em;
}

.main-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
}

nav li{
    padding: 5px 10px;
    border: none;
    display: inline-block;
    padding: 5px;
    transition: all linear 0.5s;
    margin-right: 70px;
}

nav li a{
text-decoration: none;
color: white;
font-weight: 700;
padding: 5px;
}

Section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

section h1{
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.8;
    color: #978dc9;
}

#home{
    background: linear-gradient(#ffff,#fff9);
}

#about{
    background: linear-gradient(#bcaffc,#bcaffc);
}

#project{
    background: linear-gradient(#ffff,#fff9);
}

#contact{
    background: linear-gradient(#bcaffc,#bcaffc);
}

.active{
    background: #978dc9;
    display: inline-block;
    padding: 5px;
}

footer {
    color: black;
    font-size: 0.50em;
    font-weight: bold;
    margin-top: 0em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9f81f7;
}